/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
 */

/* body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
} */

/* 全局样式 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

:root {
  font-size: 18px;
}

@font-face {
  font-family: "Acorn";
  src: url(./assets/fonts/Acorn.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Learning Curve";
  src: url(./assets/fonts/LearningCurve.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kinkee";
  src: url(./assets/fonts/kinkee.ttf);
  font-weight: normal;
  font-style: normal;
}

/* #app{
  width: 100%;
  height: 100%;
  position: relative;
} */