@use "sass:meta";
@use "sass:list";
@use "sass:map";

$typePoint: (
  "phone": (
    320px,
    480px,
  ),
  "pad": (
    481px,
    768px,
  ),
  "notebook": (
    769px,
    1024px,
  ),
  "desktop": (
    1025px,
    1200px,
  ),
  "tv": 1201px,
);

@mixin responseTo($type) {
  $bp: map.get($typePoint, $type);
  @if meta.type-of($bp) == "list" {
    @media (min-width: list.nth($bp,1)) and (max-width: list.nth($bp,2)) {
      @content;
    }
  } @else {
    @media (min-width: $bp) {
      @content;
    }
  }
}

$red: rgba(248, 92, 72, 0.874);

$taro-purple: #b8a1d9;
/* 香芋紫 */
$golden-yellow: #ffd700;
/* 对比黄 */
$slate-gray: #3d3d3d;
/* 石板灰 */
$light-gray: #f5f5f5;

$primary-color: $taro-purple;

.link__color {
  color: #ffffff30;

  &:hover {
    color: $primary-color;
  }
}
